<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="kursDB.Properties.Settings.lab3ConnectionString" connectionString="Data Source=DESKTOP-PN7HNG0;Initial Catalog=lab3;Persist Security Info=True;User ID=administrator;Password=99006139"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>